@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-accent{
    background-color:#E54065;
}
.custom-background{
    background-color:#F4F5F9;
}
.custom-border{
    border:1px solid #cfd2dc;
    
}
.custom-onClickedBorder{
    border: 1px solid #E54065 ;
}
.custom-text{
    color:#636363;
}
.custom-filterButton{
    color:#E1E4EA;
}
.custom-readBackground{
    color:#F2F2F2;
}
.transition-background{
    transition: background 0.5s;
}

.favorite-textColor{
    color:#e54065;
    font-weight: bold;
}